body {
  background-color: #E62424;
}
header {
  text-align: center;
font-family: 'Roboto', sans-serif;
font-size: 80px;

padding: 30px;
color: #E8E129;
}

nav {
  text-align: center;
   font-family: 'Work Sans', sans-serif;
   font-size: 25px;
   letter-spacing: 4px;
   word-spacing: 100px;
   padding-top: 10px;
   padding-bottom: 20px;
   margin:0;
}

nav a {
  text-decoration: none;
    color:#ffffff;
}


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 500px;


}

section {
    width: 50%;
}
section h2 {
  font-family: 'Roboto', sans-serif;
font-size: 40px;
    color: #fff;
}

section p {
    font-size: 20px;
   font-family: 'Noto Sans', sans-serif;
    color:#fff;
}

section p a {
    color: #fff;
}

section ul li a {
    font-size: 18px;
    color:#fff;
}
aside {
    width: 50%;
    margin: 0;
    padding:0;

}
